<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>HTTP Ipsum</title>
  <style>
    body {
      font-family: monospace, sans-serif;
    }
    
    * {
      font-size: 14px !important;
    }
    
    ul {
      padding: 0 0 0 15px;
    }
  </style>
</head>
<body>
  <main>
    <%= yield %>
  </main>
</body>
</html>
